.button {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  border: none;
  padding: 10px;

  color: white;
  background-color: black;
}

.button-secondary {
  color: pink;
  background-color: teal;
}
